h1 {
    font-family: museo-slab, slab-serif;
}

body {
    font-family: verdana, helvetica, arial, sans-serif;
    color: #464646;
}
a:hover {
    text-decoration: none;
}
a:link {
    color: #8ed38e;
}
a:visited {
    color: #464646;
}

/* Navigation */

.header_container {
    border-bottom: 1px solid #afb2b3;
    display: flex;
    align-items: center;
}

.logo {
    width: 20%;
    margin-right: auto;
    padding-left: 1em;
}

.header_container a {
    width: auto;
    height: auto;
}

.nav a:link {
    text-decoration: none;
    padding: 2rem;
    color: #464646;
}

.nav a:active {
    background-color: #fae475;
}
.nav a:hover {
    background-color: #8ed38e;
}
.nav {
    display: flex;
    list-style: none;
    top: 0;
    width: 100%;
}

/* Banner */

.banner {
    background-color: aliceblue;
}

/* Main Content */

.container {
    display: grid;
    grid-template-columns: 75% 25%;
    width: 100%;
}

.main-content {
    background-color: mediumpurple;
    margin: 1em;
    padding: 1em;
}


/* Side Bar */

.sidebar {
    background-color: cadetblue;
    margin-right: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
    padding: 1em;
}

/* Footer */

footer {
    border-top: 1px solid #afb2b3;
    background-color: #8ed38e;
    padding: 1em;
}
.footer_container {
    
    display: flex;
}
.footer_container a:link {
    color: #464646;
}
.sm_icons {
   
    margin-right: auto;
}
.shop_icon {
    width: ;
}